.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(18, 29, 43, 0.85); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .loader-logo {
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0 0 10px #00ffff); // optional glow
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
